<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx" 
         xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
        
        
        <!-- 以下属于hibernate的配置 -->
        
        <context:property-placeholder location="classpath:jdbc.properties"/>
        
        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        	<property name="driverClass" value="${driverClass}"/>
        	<property name="jdbcUrl" value="${jdbcUrl}"/>
        	<property name="user" value="${user}"/>
        	<property name="password" value="${password}"/>
        </bean>
        
        <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        
        	<!-- 1. 核心必须 -->
        	<property name="dataSource" ref="dataSource"></property>
        	
        	<!-- 2. 可选配置 -->
        	<property name="hibernateProperties">
        		<props>
        			<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
        			<prop key="hibernate.show_sql">true</prop>
        			<prop key="hibernate.format_sql">true</prop>
        			<prop key="hibernate.hbm2ddl.auto">update</prop>
        		</props>
        	</property>
        	
        	<!-- 3. 映射文件导入 -->
        	<property name="mappingDirectoryLocations" value="classpath:com/itheima/bean"></property>
        </bean>
        
        <!-- 以下属于spring配置 -->
        <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        	<property name="sessionFactory" ref="sessionFactory"/>
        </bean>
        
        <tx:annotation-driven transaction-manager="transactionManager"/>
        
        <!-- 以下属于模块的配置 -->
        
        <!-- 以下属于用户模块 -->
        <bean id="userAction" class="com.itheima.web.action.UserAction" scope="prototype">
        	<property name="userService" ref="userService"></property>
        </bean>
        
        <bean id="userService" class="com.itheima.service.impl.UserServiceImpl">
        	<property name="userDao" ref="userDao"></property>
        </bean>
        
        <bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl">
        	<property name="sessionFactory" ref="sessionFactory"></property>
        </bean>
        
        
        <!-- 以下属于用户模块 -->
        <bean id="customerAction" class="com.itheima.web.action.CustomerAction" scope="prototype">
        	<property name="customerService" ref="customerService"></property>
        </bean>
        
        <bean id="customerService" class="com.itheima.service.impl.CustomerServiceImpl">
        	<property name="customerDao" ref="customerDao"></property>
        </bean>
        
        <bean id="customerDao" class="com.itheima.dao.impl.CustomerDaoImpl">
        	<property name="sessionFactory" ref="sessionFactory"></property>
        </bean>
        
        
        <!-- 以下属于字典模块 -->
        <bean id="baseDictAction" class="com.itheima.web.action.BaseDictAction" scope="prototype">
        	<property name="baseDictService" ref="baseDictService"></property>
        </bean>
        
        <bean id="baseDictService" class="com.itheima.service.impl.BaseDictServiceImpl">
        	<property name="baseDictDao" ref="baseDictDao"></property>
        </bean>
        
        <bean id="baseDictDao" class="com.itheima.dao.impl.BaseDictDaoImpl">
        	<property name="sessionFactory" ref="sessionFactory"></property>
        </bean>
        
        <!-- 以下属于联系人模块 -->
        <bean id="linkManAction" class="com.itheima.web.action.LinkManAction" scope="prototype">
        	<property name="linkManService" ref="linkManService"></property>
        </bean>
        
        <bean id="linkManService" class="com.itheima.service.impl.LinkManServiceImpl">
        	<property name="linkManDao" ref="linkManDao"></property>
        </bean>
        
        <bean id="linkManDao" class="com.itheima.dao.impl.LinkManDaoImpl">
        	<property name="sessionFactory" ref="sessionFactory"></property>
        </bean>
        
        
        <!-- 以下属于拜访模块 -->
        <bean id="saleVisitAction" class="com.itheima.web.action.SaleVisitAction" scope="prototype">
        	<property name="saleVisitService" ref="saleVisitService"></property>
        </bean>
        
        <bean id="saleVisitService" class="com.itheima.service.impl.SaleVisitServiceImpl">
        	<property name="saleVisitDao" ref="saleVisitDao"></property>
        </bean>
        
        <bean id="saleVisitDao" class="com.itheima.dao.impl.SaleVisitDaoImpl">
        	<property name="sessionFactory" ref="sessionFactory"></property>
        </bean>
        
        
</beans>